<style>
    body, html {
        height: 100%; /* Full height */
    }

    .center-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
</style>
